<div class="card w-30">
  <img src="<%= pet.foto %>" width="300px">
  <div class="card-body">
    <h5 class="card-title"><%= pet.nome %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= pet.especie %></h6>
    <div class="card-text">
      <span><%= pet.raca %></span>
      <br />
      <span><%= pet.sexo %></span>
    </div>
    <a href="/pets/<%= pet.id %>/editar" class="btn btn-primary">Editar</a>
    <a href="/pets/<%= pet.id %>/deletar" class="btn btn-danger">Deletar</a>
  </div>
</div>
